#thefile{
    position: fixed;
    top: 130px;
    right: 155px;
    z-index: 100;
}
#canvas{
    position: fixed;
    right: 5px;
    top: 125px;
    width: 30vw;
    height: 30vh;
    border: 1px solid black;
}
audio{
    position: fixed;
    right: 5px;
    bottom: 255px;
    width: 30vw;
    background-color: gray;
}
#content{
    background-color: #000;
    display: block;
}