#thefile{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}
#canvas{
    position: fixed;
    left: 10px;
    top: 0;
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
}
audio{
    position: fixed;
    left: 10px;
    bottom: 250px;
    width: 50vw;
    background-color: gray;
}
#content{
    background-color: #000;
    display: none;
}