*{
    margin: 0px;
    padding: 0px;
}


body{
    background-image: url(../image/wallpaper.webp);
    background-size: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
}

.bc{
    display: flex;
}

.loginbox{
    width: 50%;
    height: 50vh;
    margin-top: 10%;
    background-color: #76cef3;
    border: solid 1px black;
    border-radius: 20px;
    display: none;
    opacity: 0.8;
}

.boxaninmation{
    margin-left: 400px;
    animation: lgbox  linear 1000ms ;
}

@keyframes lgbox {
    0%{
        margin-left: -600px;
    }
    100%{
        margin-left: 400px;
    }
}

h1{
    text-align: center;
}

form{
	padding: 20px 0;
	position: relative;
    text-align: center;
}

input{
    display: block;
    outline: 0;
    border: 1px solid white;
    background-color: white;
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin:  10px auto ;
    margin-top: 30px;
    margin-bottom: 50px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.5s;
    font-weight: 300;
    
}
input:focus{
        background-color: white;
        width: 300px;
        color: #53e3a6;
}

button{
	appearance: none;
	outline: 0;
	background-color: white;
    margin-top: 80px;
	border: 0;
	padding: 10px 15px;
	color: #53e3a6;
	border-radius: 3px;
	width: 200px;
	cursor: pointer;
	font-size: 18px;
	transition-duration: 0.25s;
}

button:hover{
    background-color: rgb(245, 247, 249);
    cursor: default;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.loginprofile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 300px;
    overflow: hidden;
    margin: auto;
    margin-top: 30vh;
    opacity: 0.5;
    transition: all 1s;
    
}
a{
    text-decoration: none;
}

.loginprofile:hover{
    opacity: 1;
    transform: scale(1.2);
}


#next{
    display: none;
}